:root {
  --color-bg-page: rgb(4, 0, 21);
  --color-border-focus: rgb(51, 204, 255);
  --color-button: #a4e3fc;
  --color-text: rgb(51, 204, 255);
  --color-button-hover: rgb(51, 204, 255);
  --color-form: black;
  --color-input: #efefef;
  --color-invalid: red;
  --color-disabled: #bdbcbc;
  --color-text-shadow: 0 0 10px rgb(51, 204, 255), 0 0 20px rgb(51, 204, 255);
  --color-box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg-page);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  line-height: clamp(1.4, 2vw, 1.6);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
