@import './base.css';

#app {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
button {
  background-color: var(--color-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px clamp(50px, 10vw, 75px);
  font-size: inherit;
}
button:hover {
  background-color: var(--color-button-hover);
}
